@import url('https://fonts.googleapis.com/css2?family=Abel&family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Abhaya+Libre:wght@400;500;600;700;800&family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



body {
    font-family: "Segoe UI", sans-serif;
    background-color: #fffcfc;
    color: #000;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
}

.intro-text h1 {
    font-size: 2rem;
    font-weight: 700;
}

.intro-text h5 {
    font-weight: 500;
    color: #333;
}
.description {
    text-align: justify;
    margin-bottom: 1rem;
}

.section-divider {
    height: 1.5px;
    background-color: #ccc;
    margin: 1rem 0;
}

.resume-btn {
    background-color: #4e7fff;
    color: white;

    padding: 0.5rem 2rem;
    font-weight: 600;
    border-radius: 4px;
    text-decoration: none;
}

.language-bar {
    height: 25px;
    background-color: #4e7fff;
    border-radius: 2px;
    color: aliceblue;
    padding-left: 5px;
}

.language-label {
    font-size: 0.9rem;
    margin-bottom: 2px;
}
.description{
    font-size: 18px;
}

.detail-label {
    font-weight: 600;
    margin-bottom: 0.3rem;
}

.section-title {
    font-weight: 600;
    margin-top: 1rem;
}

/* Optional
.custom-row {
  row-gap: 0px;
  column-gap: 0px;
} */

.section-divider-body {
    height: 1.5px;
    background-color: #ccc;
    margin: 1rem 5rem;
}
footer{
    background-color: #bbceff;
}

